<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dociyaa - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://th.bing.com/th/id/R.39361bb706f615d3961a65d3e798c18f?rik=eypplID73wIeMA&riu=http%3a%2f%2ffilmmusicreporter.com%2fwp-content%2fuploads%2f2012%2f11%2fpostmanpat.jpg&ehk=mFkCEL0A%2fpvThGfx0dSOA17z0%2fkWw6JDl7mA3aGScV8%3d&risl=&pid=ImgRaw&r=0" rel="icon">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <style>
    .bg-01{
      background: linear-gradient(275deg, #181513 0%, #003A5D 41.42%, #FF6B00 109.62%);
    }
    .modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between" >

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <img src="https://th.bing.com/th/id/R.39361bb706f615d3961a65d3e798c18f?rik=eypplID73wIeMA&riu=http%3a%2f%2ffilmmusicreporter.com%2fwp-content%2fuploads%2f2012%2f11%2fpostmanpat.jpg&ehk=mFkCEL0A%2fpvThGfx0dSOA17z0%2fkWw6JDl7mA3aGScV8%3d&risl=&pid=ImgRaw&r=0" alt="">
        <h1>Daakiya<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <span><%= email %> </span>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg bg-01">
    <div class="container" >
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Your Personal<br>Daakiya</h2>
          <p data-aos="fade-up" data-aos-delay="100">Share your Documents hassle-free and securely.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="uploader/<%=object%>" class="btn-book-a-table">Upload Documents</a>
            <a>.            .</a> </a>
            <a href="#book-a-table" class="btn-book-a-table">Received Documents</a>
           
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          
          <img src="https://th.bing.com/th/id/R.39361bb706f615d3961a65d3e798c18f?rik=eypplID73wIeMA&riu=http%3a%2f%2ffilmmusicreporter.com%2fwp-content%2fuploads%2f2012%2f11%2fpostmanpat.jpg&ehk=mFkCEL0A%2fpvThGfx0dSOA17z0%2fkWw6JDl7mA3aGScV8%3d&risl=&pid=ImgRaw&r=0" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
 
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p>Your <span>Latest Uploads</span></p>
        </div>
         <!--search table-->
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Document Name</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i < filename.length; i++) { %>
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-5">
                <p>
                  <a href="/show/<%= file[i] %> ">
                    <%= filename[i] %>
                  </a>
                  <form action="/<%= email %>/share/<%= file[i] %>">
                    <button class="btn btn-primary">Share</button>
                  </form>
                </p>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  <br>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022 - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script>
  <script>
    let hello = document.getElementById("hello")
    let bye= document.getElementById("close")
    hello.addEventListener('click',function(){
      document.getElementById("orangeModalSubscription").ariaHidden='flex'
    })
    bye.addEventListener('click',function(){
      document.getElementById("orangeModalSubscription").style.display='none';
    })
  </script> -->

</body>

</html>